*{
    box-sizing: border-box;
    font-family:"AngsanaUPC";
    font-size: 1.2rem;
}
body{
    background-color: #F45866;
}
.card-container{
    height: 100%;
    display: flex;
    align-items: center;
    perspective: 1000px;
    justify-content: center;
    flex-wrap: wrap;
    gap:200px;
}
.card{
    height: 450px;
    width:350px;
    position: relative;
}
.card-modal , .card-back{
    height: 450px;
    width:350px;
    transition: transform 2s ease;
    transition-delay: .7s;
    position: absolute;
    backface-visibility: hidden;
    color:white;
    border:5px solid black;
}
.card-modal{
    transform:rotateY(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F49390;
}
.card-back {
    background-color: #A2666F;
    transform: rotateY(-180deg);
}
.card:hover .card-modal{
    transform: rotateY(180deg);
}
.card:hover .card-back{
    transform: rotateY(0deg);
}
.card:hover #mail-closed{ display: none;}
.card:hover #mail-open { display:block;}
#flowers{
    width:300px;
}
#mail-closed , #mail-open{
    width: 100px;
}
#mail-open {
    display: none;
}
.image-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    line-height: .2in;
}
.input-date{
    display: flex;
    justify-content: center;
    align-content: center;
}
#date{
    width:200px;
}
.welcome{
    color: navajowhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.message-welcome > p{
    font-size: 1px;
    animation-name: welcome;
    animation-duration: 4s;
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}



